*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{    
    background-color: rgb(84, 4, 158);
}

main{
    width: 320px;
    height: 500px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    background-color: rgb(204, 154, 250);
    border: 3px solid white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
h1{
    font-size: 25px;
    text-align: center;
}

#img-cat{
    max-width: 260px;
    max-height: 260px;
    border-radius: 10px;
}
button{
    margin-bottom: 10px;
    padding: 10px;
    background-color: rgb(204, 154, 250);
    border-radius: 5px;
    border: 3px solid white;
    box-shadow: 2px 2px blueviolet ;
    font-weight: bold;
}